<h1>Lista de productos</h1>

<div class="container">
    <ul id="product_list"></ul>
</div>

{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script type="text/javascript" src="/js/home.controller.js" ></script>