<h1>Real Time Products</h1>

<div class="products-container" id="productContainer">
    <p id="productList"></p>
</div>

<script type="text/javascript" src="/js/realTimeProducts.controller.js" ></script>